// colors
$cod-gray: #161616;
$mine-shaft--1: #2c2c2c;
$mine-shaft--2: #212121;
$mine-shaft--3: #373737;
$dove-gray: #666666;

$white: #ffffff;
$alabaster: #f7f7f7;
$gallery: #f0f0f0;
$silver: #c0c0c0;

$orange-yellow-crayola: #ffda6b;
$parchment: #f1e7d0;

$forest-green: #199128;
$jungle-green: #28C76f;