//fonts
$font-family-default: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
$font-family: 'InterDisplay', $font-family-default;

$font-size--base: 16px;
$font-size--secondary: 18px;
$font-size--tertiary: 15px;
$font-size--base--mobile: $font-size--base - 2;